@import url("styles/header.css");
@import url("styles/nav.css");
@import url("styles/metricas.css");
@import url("styles/vagas.css");
@import url("styles/cargos.css");
@import url("styles/depoimentos.css");
@import url("styles/contato.css");

:root {
  --cinza-logo: #3a404e;
  --cinza: #667085;
  --branco: #ffffff;
  --bordo: #8e2424;
  --preto: #101828;
  --preto-primario: #000000;
  --fonte-principal: "Inter";
  --fonte-secundario: "Josefin Sans";
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bordo-opacity-five-percent: 142, 36, 36, 0.05;
  --cinza-borda: #eaecf0;
  --cinza-background: #f9fafb;
  --cinza-medio: #98a2b3;
  --cinza-borda-media: #d0d5dd;
}

body {
  /* margin: 0 3em; */
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: var(--regular);
}
