.cabecalho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 0em;
}

.cabecalho__tag {
  color: var(--bordo);
  font-size: 16px;
  font-weight: var(--semi-bold);
  padding-bottom: 3em;
}

.cabecalho__titulo {
  font-size: 48px;
  font-weight: var(--semi-bold);
  color: var(--preto);
  padding-bottom: 1em;

  text-shadow: -1px -1px 0 var(--preto-primario),
    1px -1px 0 var(--preto-primario), -1px 1px 0 var(--preto-primario),
    1px 1px 0 var(--preto-primario), 0px 4px 4px rgba(0, 0, 0, 0.25); /* Shadow */
}

.cabecalho__texto {
  color: var(--cinza);
  font-size: 20px;
  font-weight: var(--regular);
  text-align: center;
  width: 52%;
}
