.nav {
  font-weight: var(--medium);
  display: flex;
  margin: 1em 6em;
  align-items: center;
  justify-content: center;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 6em;
}

.nav__logo-imagem {
  padding-right: 0.3em;
}

.nav__logo-texto {
  color: var(--cinza-logo);
  font-size: 18px;
}

.nav__páginas-lista {
  display: flex;
}

.nav__páginas-item {
  text-decoration: none;
  color: var(--cinza);
  padding: 0 0.5em;
}

.nav__botoes {
  margin-left: auto;
  padding-right: 4em;
}

.nav__botoes-entrar {
  background: transparent;
  color: var(--cinza);
  border: none;
  padding: 0.5em 1em;
}

.nav__botoes-submit {
  background: var(--bordo);
  color: var(--branco);
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
}
